{% extends "base.html" %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_button %}

<h1>Send password reset instructions</h1>


    <hr >
    You'll have to setup the mail configuration in <code>/config.py</code> in order to use this!
    <br />
    Template location: <code>/app/templates/security/forgot_password.html</code>
    <hr >


<form class="form-horizontal" role="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_with_errors(forgot_password_form.email, class="form-control") }}
  {{ render_button(forgot_password_form.submit, class="btn btn-primary") }}
</form>

{% endblock %}