
server {
        listen   80 default;
        server_name  dela.bg;
        server_name www.dela.bg;

        access_log  /var/log/nginx/delabg.access.log;

        root /home/your_flask_project;


        location /static/ {
               expires max;
               add_header Last-Modified $sent_http_Expires;
               alias /home/your_flask_project/app/static/;
        }


        location / {
                try_files $uri @tornado;
        }

        location @tornado {
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_pass       http://127.0.0.1:1337;
        }
}
