<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flask-Easy Template</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/add_record"><span class="glyphicon glyphicon-plus"></span> Add record</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>
        </div>
    </div>
</div>


